body {
  background-image: url("26917.jpg");
  background-size: cover;
}
.container {
  background: rgba(211, 211, 211, 0.844);
  width: 700px;
  height: 600px;
  margin: 20px auto;
  border-radius: 6px;
  padding: 30px;
}
.search-form-input {
  background-color: lightcyan;
  border: none;
  border-radius: 6px;
  width: 70%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
