body {
  background-image: url("26917.jpg");
  background-size: cover;
}
.container {
  background: lightgray;
  width: 500px;
  height: 600px;

  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}
