body {
  background-image: url("26917.jpg");
  background-size: cover;
}
.container {
  background: lightblue;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
}
